<h2>Contact Us</h2>
<form>
  <div class="form-group">
    <label>Your message</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>